NODE_ENV = Your desired environment here (e.g., development, production) 
MONGO_URI = Your MongoDB connection string here
REFRESH_TOKEN_SECRET = Your Refresh Token Secret here
ACCESS_TOKEN_SECRET = Your Access Token Secret here
REFRESH_TOKEN_EXPIRY = Your desired refresh token expiry time here (e.g., 10d for 10 days)
ACCESS_TOKEN_EXPIRY = Your desired access token expiry time here (e.g., 10m for 10 minutes)
PORT = Your desired port number here (e.g., 8000)
TMDB_API_KEY = Your TMDB API Key here
RAPIDAPI_KEY = Your RapidAPI Key here
RAPIDAPI_HOST = Your RapidAPI Host here